@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

@layer components {
  .btn-primary {
    @apply bg-primary text-white px-8 py-3 rounded-full font-semibold hover:bg-opacity-90 transition;
  }
  
  .btn-secondary {
    @apply bg-white text-primary px-8 py-3 rounded-full font-semibold hover:bg-gray-50 transition;
  }
  
  .btn-outline {
    @apply bg-transparent border-2 border-white text-white px-8 py-3 rounded-full font-semibold hover:bg-white/10 transition;
  }
} 